@font-face {
  font-family: "font-1";
  src: url(./fonts/Switzer_Complete/Fonts/Variable/Switzer-Variable.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(./fonts/Canela_Collection/Canela_Condensed_Family/CanelaCondensed-Medium-Trial.otf);
}

@font-face {
  font-family: "font-3";
  src: url(./fonts/Canela_Collection/Canela_Condensed_Family/CanelaCondensed-Light-Trial.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: font-2;
  font-weight: bold;
  font-size: 3rem;
}

h3,
p {
  font-family: font-1;
  font-weight: 400;
  font-size: 0.8rem;
}

body {
  background-color: #1d2120;
  color: white;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
  align-items: center;
  text-align: center;
}

.d-flex-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  width: 100%;
  height: 10vh;
  padding: 15px 20px;
}

nav {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

#menu {
  width: 44%;
}

.logo {
  width: 50%;
}

.talk {
  width: 6%;
}

#main {
  width: 100%;
  /* height: 90vh; */
  padding: 50px 0;
  justify-content: center;
  gap: 3rem;
}

#top {
  width: 100%;
  /* height: 35vh; */
  justify-content: end;
  gap: 2rem;
}

#top p {
  width: 18%;
  line-height: 1.4;
}

#btm {
  width: 100%;
  /* height: 45vh; */
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#cards {
  width: fit-content;
  height: fit-content;
  justify-content: center;
  background-color: white;
  border: 1px solid wheat;
}

.card {
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 150px;
  background-color: #1d2120;
  cursor: pointer;
  font-family: font-3;
  font-size: 1.6rem;
  transition: border-radius 0.4s ease-out;
}

#cards .card:nth-child(2) {
  border-radius: 30px;
}

.card:hover .second {
  top: 0%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.first {
  width: 100%;
  height: 100%;
  background-color: #1d2120;
  justify-content: center;
}

.second {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  justify-content: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#mouse-hover {
  width: fit-content;
  height: fit-content;
  position: relative;
}

#mouse {
  width: 70px;
  height: 70px;
  background-color: #f44848;
  color: #000;
  border-radius: 50px;
  padding: 0 8px;
  font-family: font-1;
  font-size: .6rem;
  position: absolute;
  transition: transform 0.1s ease-out; 
}

.para {
  font-size: 1rem;
  cursor: pointer;
}